{% comment %} {% extends 'base.html' %}
{% block content %}
    <!--<h1>This page is table</h1>-->
    <div class = "container">
      
      
    <form> 
      <div class="form-row">
        <div class="col">
          <label for="inputState" class="col-sm-3 col-form-label">Name</label>
          <select id="inputState" class="form-control">
            <option selected>Select reviewer's name</option>
            <option>Tanzir</option>
            <option>Hank</option>
          </select>
        </div>
        <div class="col">
          <label for="inputState" class="col-sm-3 col-form-label">Nationality</label>
          <select id="inputState" class="form-control">
            <option selected>Filter by nationality</option>
            <option>Domestic</option>
            <option>China</option>
            <option>India</option>
          </select>
        </div>
        <div class="col">
          <label for="inputState" class="col-sm-3 col-form-label">Interest</label>
          <select id="inputState" class="form-control">
            <option selected>Filter by Research Interest</option>
            <option>NLP</option>
            <option>AI</option>
          </select>
        </div>
        <div class="col">
          <label for="inputState" class="col-sm-3 col-form-label">Status</label>
          <select id="inputState" class="form-control">
            <option selected>Filter by reviewing status</option>
            <option>All candidates</option>
            <option>not reviewed</option>
            <option>reviewed</option>
          </select>
        </div>
             <button type="submit" class="btn btn-secondary">Confirm</button>
      </div>
  </form>
  
  
  
<br>
<br>

  <a class="btn btn-secondary" href='../' role="button">CARD<->SHEET</a>
  <a class="btn btn-secondary" href='/email' role="button" onclick="myFunction()">EMAIL</a>
  
    <table class="table table-bordered">
        <caption>TABLE</caption>
        <thead>
          <tr>
            <th>Action</th>
            <th>Name</th>
            <th>MS GPA</th>
            <th>GRE</th>
            
          </tr>
        </thead>
     

        <tbody>
        {%for x in applicants%}
          <tr>
            <td><a class="btn btn-dark" href="{{x.App_Seq_No}}/review" role="button">REVIEW</a></td>
            <td>{{x.Name}}</td>
            <td>{{x.MS_University_and_GPA}}</td>
            <td>{{x.GRE_Score}}</td>
            
          </tr>
        {%endfor%}
        </tbody>
      </table>

    </div>




    <!-- <p>{{api}}</p> -->
{%endblock%} {% endcomment %}