<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% extends 'base.html' %}
{% block content %}


    <div class = "container">


    <script>
    function myFunction()
    {
        alert("Email has been sent");
        var text = "Email has been sent";
    }
    </script>

        <!--<a class="btn btn-secondary" href="/email" role="button" onclick="myFunction()" value="Alert">EMAIL</a>-->
        
        
        
    <form  action="{% url 'search' %}"> 
      <div class="form-row">
        <div class="col">
          <label for="inputState" class="col-sm-3 col-form-label">Reviewer</label>
          <select id="inputState" class="form-control" name="Reviewer">
            <option selected></option>
            <option>Tanzir</option>
            <option>Hank</option>
          </select>
        </div>
        <div class="col">
          <label for="inputState" class="col-sm-3 col-form-label">Nationality</label>
          <select id="inputState" class="form-control" name="Nationality">
            <option selected></option>
            <option>US</option>
            <option>China</option>
            <option>India</option>
            <option>Korea</option>
          </select>
        </div>
        <div class="col">
          <label for="inputState" class="col-sm-3 col-form-label">Interest</label>
          <select id="inputState" class="form-control" name="Interest">
            <option selected></option>
            <option>NLP</option>
            <option>AI</option>
          </select>
        </div>
        <div class="col">
          <label for="inputState" class="col-sm-3 col-form-label">Status</label>
          <select id="inputState" class="form-control" name="Status">
            <option selected></option>
            <option>All candidates</option>
            <option>not reviewed</option>
            <option>reviewed</option>
          </select>
        </div>
             <button type="submit" class="btn btn-secondary">Confirm</button>
      </div>
  </form>
  
  
<br>
    <a class="btn btn-secondary" href="/table" role="button">CARD<->SHEET</a>
    <a class="btn btn-secondary" href='/email' role="button" onclick="myFunction()">EMAIL</a>





        <div class="row">
            {%for x in applicants%}

            <div class="col-sm-3">
                
            <div class="card" style="width: 14rem;">

                <div class="card-body">
                <h5 class="card-title">{{x.Name}}</h5>
                <p class="card-text"> MS: {{x.MS_University_and_GPA}}</p>
                <p class="card-text"> BS: {{x.BS_University_and_GPA}}</p>

                <a class="btn btn-dark" href="{{x.App_Seq_No}}/{{forloop.counter}}/{{applicants|length}}/review" role="button">REVIEW</a>
 
            </div>
          </div>

          
          
          
            </div>
            {%endfor%}
    </div>

    </div>




    <!-- <p>{{api}}</p> -->
{%endblock%}