<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% extends 'base.html' %}
{% block content %}


    <div class = "container">
    <br>
    <br>
    <br>
<div>
    
    <a href="#" class="badge badge-primary">Reviewing by Tanzir</a>
    <a href="#" class="badge badge-success">nationality: All</a>
    <a href="#" class="badge badge-success">research interest: AI</a>
    <a href="#" class="badge badge-success">status: not reviewed</a>
    <a href="#" class="badge badge-warning">candidate index: {{pointer}}/{{total_num}}</a>
</div>

<br>






<table class="table table-bordered">
<thead>
    <tr>
      <th>Reviewing status</th>
      <th>ID</th>
      <th>Name</th>
      <th>Gender, Ethnicity, Residency, Citizenship</th>
      <th>Average Score</th>
      <th>Applied Degree</th>
      <th>Nationality</th>
      <th>Email</th>
      <th>Potential Faculty</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Not reviewed by Tanzir</td>
      <td>{{applicant.Application_ID}}</td>
      <td>{{applicant.Name}}</td>
      <td>{{applicant.Gender}}</td>
      <td>{{applicant.Average_Review_Score}}</td>
      <td>{{applicant.Applied_Degree}}</td>
      <td>{{applicant.Nationality}}</td>
      <td>{{applicant.Email}}</td>
      <td>Tanzir</td>
    </tr>

  </tbody>
  <thead>
    <tr>
      <th>BS University</th>
      <th>BS GPA</th>
      <th>MS University</th>
      <th>MS GPA</th>
      <th>GRE Score</th>
      <th>Toefl score</th>
      <th>Faculty contact</th>
      <th>Faculty giving GANT/GAT</th>
      <th>Faculty giving GAR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>TAMU </td>
      <td>3.9</td>
      <td>TAMU </td>
      <td>3.9</td>
      <td>320</td>
      <td>N/A</td>
      <td>Tanzir</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>


<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Input Score</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>5</option>
      <option>4</option>
      <option>3</option>
      <option>2</option>
      <option>1</option>
      <option>0</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you want be this candidate's faculty</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>No</option>
      <option>Yes</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you want provide assistantship to this candidate</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>No</option>
      <option>Yes</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you want nominate another faculty as contact? (we will send an email to this faculty)</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>No</option>
      <option>Tom</option>
      <option>Jim</option>
      <option>Jerry</option>
      <option>Donald</option>
      <option>Tim</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Input Comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  
  
  
  
  <div>
    <button type="button" class="btn btn-success">Confirm</button>
    <a class="btn btn-secondary" href="/review" role="button">Previous candidate</a>
    {% comment %} <a class="btn btn-secondary" href="{{x.App_Seq_No}}/{{pointer|add:1}}/review" role="button">Next candidate</a> {% endcomment %}
    <a class="btn btn-secondary" href="/review" role="button">Next candidate</a>
    <a class="btn btn-secondary" href="../" role="button">Home</a>
  </div>
</form>



    </div>

{%endblock%}